# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Environment
.env

# Archives
*.zip

# JSON secrets (optional)
*.json
jwks.json

# Node
node_modules/
Frontend/node_modules/
Front_End/node_modules/
frontend_intranet/node_modules/